.hiddenFileInput > input{

  height: 100%;
  width: 100%;
  opacity: 0;
  cursor: pointer;
}

.mat-stepper-vertical {
  margin-top: 8px;
}

.mat-form-field {
  margin: 16px;
}

.example-section {
  margin: 12px 0;
}

.list-card {
  margin-top: 15px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
