<form [formGroup]="accountForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="center">
    <mat-card-header>
      <mat-card-title>Create an Account</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="full-width">
        <mat-form-field *ngIf="innerWidth>=712" class="large" appearance="fill">
          <input matInput placeholder="First name" formControlName="firstName">
          <mat-error *ngIf="accountForm.controls['firstName'].hasError('required')">
            First name is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field *ngIf="innerWidth<712" class="small" appearance="fill">
          <input matInput placeholder="First name" formControlName="firstName">
          <mat-error *ngIf="accountForm.controls['firstName'].hasError('required')">
            First name is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field *ngIf="innerWidth>=712" class="large" appearance="fill">
          <input matInput placeholder="Last name" formControlName="lastName">
          <mat-error *ngIf="accountForm.controls['lastName'].hasError('required')">
            Last name is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field *ngIf="innerWidth<712" class="small" appearance="fill">
          <input matInput placeholder="Last name" formControlName="lastName">
          <mat-error *ngIf="accountForm.controls['lastName'].hasError('required')">
            Last name is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field *ngIf="innerWidth>=712" class="large" appearance="fill">
          <input matInput placeholder="Email" formControlName="email">
          <mat-error *ngIf="accountForm.controls['email'].hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field *ngIf="innerWidth<712" class="small" appearance="fill">
          <input matInput placeholder="Email" formControlName="email">
          <mat-error *ngIf="accountForm.controls['email'].hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field *ngIf="innerWidth>=712" class="large" appearance="fill">
          <input matInput placeholder="Password" formControlName="password">
          <mat-error *ngIf="accountForm.controls['password'].hasError('required')">
            Password is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field *ngIf="innerWidth<712" class="small" appearance="fill">
          <input matInput placeholder="Password" formControlName="password">
          <mat-error *ngIf="accountForm.controls['password'].hasError('required')">
            Password is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Submit</button>
      <button mat-raised-button color="accent" type="button" routerLink="../">Back</button>
    </mat-card-actions>
  </mat-card>
</form>
