<div *ngIf="!editMode && !deleteMode">
  <h1 mat-dialog-actions mat-dialog-title>{{data.title}}
    <button mat-raised-button color="accent" style="margin-left:50px" mat-dialog-close>Close</button>
  </h1>

  <mat-dialog-content>
      <div fxLayout="column">
        <p>
          authored by : {{data?.author}}
        </p>
        
          <b>Ingredients:</b>
          <ul>
              <p *ngFor="let ingredient of data.ingredients">
                  <li>
                      {{ingredient}}
                  </li>
              </p>
          </ul>

          <b>Instructions:</b>
          <ol>
              <p *ngFor="let instr of data.instructions">
                  <li>
                      {{instr}}
                  </li>
              </p>
          </ol>

          <div>
            <b>Category: </b>{{data.category}}
          </div>
          <div>
            <b>Cuisine: </b> {{data.cuisine}}
          </div>
          
          <div fxLayout="row">
            <div style="margin: 4px;">
              <span *ngIf="data.vegetarian" style="margin: 2px; padding: 2px; text-align: center; border: solid 2px; border-radius: 50%;">
                <b> V</b>
              </span>
              <span *ngIf="data.glutenFree" style="margin: 2px; padding: 2px; text-align: center; border: solid 2px; border-radius: 50%;">
                <b>GF</b>
              </span>
            </div>
          </div>
      </div>
    <div mat-dialog-actions *ngIf="data.author == this.authService.getProfile().email || this.authService.getProfile().isAdmin">
      <button mat-raised-button color="primary" (click)="editMode = !editMode">Edit</button>
      <button mat-raised-button color="accent" (click)="deleteMode = !deleteMode">Delete</button>
    </div>
  </mat-dialog-content>
</div>
<div *ngIf="editMode">
  <div>
    <button mat-raised-button color="accent" (click)="editMode = !editMode">Cancel</button>
  </div>
  <div>
    <app-edit-recipe [recipe]="data"></app-edit-recipe>
  </div>
</div>
<div *ngIf="deleteMode">
  <h1>Delete recipe? {{data?.r_id}}</h1>
  <br/>
  <p>Are you sure you want to delete this recipe?</p>
  <div>
    <button mat-raised-button color="accent" (click)="deleteRecipe(data?.r_id)" mat-dialog-close>Yes</button>
    <button style="margin-left: 10px" mat-raised-button color="primary" (click)="deleteMode = !deleteMode">No</button>
  </div>
</div>
