<h1 mat-dialog-actions mat-dialog-title>{{data.title}}
    <button mat-raised-button color="accent" style="margin-left:50px" mat-dialog-close>Close</button>
</h1>

<mat-dialog-content>
    <div fxLayout="column">
      <p>
        authored by : {{data?.author}}
      </p>
      <img mat-card-image src='{{data?.image}}' alt="Photo of dish">
        <b>Ingredients:</b>
        <ul>
            <p *ngFor="let ingredient of data.ingredients">
                <li>
                    {{ingredient}}
                </li>
            </p>
        </ul>

        <b>Instructions:</b>
        <ol>
            <p *ngFor="let instr of data.instructions">
                <li>
                    {{instr}}
                </li>
            </p>
        </ol>
    </div>
  <div mat-dialog-actions>
    <button mat-raised-button color="primary" mat-dialog-close>Close</button>
  </div>
</mat-dialog-content>
