<h1 mat-dialog-title>{{data.title}}</h1>
<mat-dialog-content>
    <div fxLayout="column">
        <b>Ingredients:</b>
        <ul>
            <p *ngFor="let ingredient of data.ingredients">
                <li>
                    {{ingredient}}
                </li>
            </p>
        </ul>

        <b>Instructions:</b>
        <ol>
            <p *ngFor="let instr of data.instructions">
                <li>
                    {{instr}}
                </li>
            </p>
        </ol>

        <img mat-card-image src='{{data?.image}}' alt="Photo of dish">
        <p>
            authored by : {{data?.author}}
        </p>
    </div>
    <div mat-dialog-actions>
        <button mat-button mat-dialog-close>Close</button>
    </div>
</mat-dialog-content>