<button mat-button (click)="isOpen = !isOpen" cdkOverlayOrigin #trigger="cdkOverlayOrigin">Search Filter</button>

<ng-template style="width: 100%;" cdkConnectedOverlay [cdkConnectedOverlayOrigin]="trigger"
    [cdkConnectedOverlayOpen]="isOpen">

    <div fxLayout="column" fxLayoutAlign="space-evenly" style="background: #fff;  border: solid 2px; border-radius: 10px">
        <div fxLayout="row" style="align-items: center;">
            <mat-label style="padding: 10px;"><b>
                    Cuisine</b>
            </mat-label>
            <span *ngFor="let cuisine of cuisines">
                <mat-checkbox [checked]="checkState(cuisine.toLowerCase())" (change)="filterCuisine($event)" style="padding: 10px;" [value]="cuisine.toLowerCase()">
                    {{cuisine}}
                </mat-checkbox>
            </span>
        </div>

        <div fxLayout="row" style="align-items: center;">
            <mat-label style="padding: 10px;"><b>Category</b></mat-label>
            <span *ngFor="let category of categories">
                <mat-checkbox [checked]="checkState(category.toLowerCase())" (change)="filterCategory($event)" style="padding: 10px;" [value]="category.toLowerCase()">
                    {{category}}
                </mat-checkbox>
            </span>
        </div>

        <div fxLayout="row" style="align-items: center;">
            <mat-label style="padding: 10px;"><b>Vegetarian</b></mat-label>
            <mat-checkbox [checked]="vegetarian" (change)="vegetarian = !vegetarian" style="padding: 10px">
            </mat-checkbox>

            <mat-label style="padding: 10px;"><b>Gluten Free</b></mat-label>
            <mat-checkbox [checked]="glutenFree" (change)="glutenFree = !glutenFree" style="padding: 10px">
            </mat-checkbox>
        </div>

        <div fxLayout="row" fxLayoutAlign="space-between">
            <button mat-button color="primary" (click)="clearFilters()">Clear all filters</button>
            <button mat-button color="primary" (click)="isOpen = false">Cancel</button>
            <button mat-button color="primary" (click)="filterRecipes()">Apply</button>
        </div>
    </div>
</ng-template>