.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  min-width: 100px
}

.dashboard-card:hover {
  background-color: lightgrey;
}
