
<mat-card class="recipe-card" class="mat-elevation-z4" class="dashboard-card" (click)="openRecipe()">
    <mat-card-header>
      <mat-card-title>
        <div>
          {{recipeCard?.title}}
            
            <mat-icon>restaurant</mat-icon>
            
        </div>
      </mat-card-title>
    </mat-card-header>
    <img width="300" mat-card-image src='assets/logo_transparent_background.png' alt="Photo of dish">
    <mat-card-content class="dashboard-card-content">
      <h2>{{recipeCard?.cuisine}} {{recipeCard?.category}}</h2>
      <p>
        Authored by : {{recipeCard?.author}}
      </p>
    </mat-card-content>
  </mat-card>
