.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  
}

.dashboard-card:hover {
  background-color: lightgrey;
}

.spacer {
  flex: 1 1 auto;
}
