<mat-toolbar class="mat-elevation-z8" color="primary">
  <a mat-button routerLink="/">
    <img [width]="110" [src]="'../../assets/logo.png'" alt="logo"/>
  </a>
  <div>
    <app-search></app-search>
  </div>

  <span class="spacer"></span>

  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="icon-button with a menu">
    <mat-icon aria-label="My Account">account_box</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <div *ngIf="!signed_in" >
      <app-sign-in></app-sign-in>
    </div>
    <button *ngIf="signed_in"  mat-menu-item routerLink="/profile" (click)="viewProfile()"><span>View Profile</span></button>
    <button *ngIf="signed_in"  mat-menu-item routerLink="/post-recipe"><span>Post</span></button>
    <button *ngIf="signed_in"  mat-menu-item (click)="onSignOut()" routerLink="/"><span>Sign out</span></button>
    <button *ngIf="!signed_in" mat-menu-item routerLink="/create-account"><span>Create Account</span></button>
    <button *ngIf="signed_in && this.authService.getProfile().isAdmin" mat-menu-item routerLink="/all-users"><span>All Users</span></button>
  </mat-menu>
</mat-toolbar>
